html {
    font-family: monospace ;
}
table {
    margin-bottom: 25px ; 
    border-spacing: 10px ;
}
tbody tr:nth-child(odd) {
    background-color: #D3D3D3 ;
}
tbody tr:nth-child(even) {
    background-color: #F8F8F8 ;
}
.profileAttrs {
	text-align: center ;
}
.profileAttrs thead {
    font-size: 120% ;
    background-color: #66CDAA ;
}
.rtsHead {
    padding-left: 25px ;
}
.rtsAttrs {
    padding-left: 25px ;
	text-align: center ;
}
.rtsAttrs thead {
    font-size: 120% ;
    background-color: #98FB98 ;
}
.propsHead {
    padding-left: 30px ;
}
.ptsAttrs {
    padding-left: 50px ;
	text-align: left ;
}
.ptsAttrs thead {
    font-size: 120% ;
    background-color: #C0C0C0 ;
}




